# Flask==3.1.1
# Werkzeug==3.1.3
# Jinja2==3.1.6
# itsdangerous==2.2.0
# python-dotenv==1.0.1
# pandas==2.3.1
# numpy==2.3.1
# scikit-learn==1.7.1
# joblib==1.5.1
# lightgbm==4.6.0
# plotly==6.2.0
# requests==2.32.4
# google-generativeai==0.3.2
# fpdf==1.7.2
# matplotlib==3.8.4
# sentence-transformers==2.5.1
# faiss-cpu==1.8.0
# --- Flask Core ---

# Flask==3.1.1
# Werkzeug==3.1.3
# Jinja2==3.1.6
# itsdangerous==2.2.0
# python-dotenv==1.0.1

# # --- ML & Data ---
# pandas==2.3.1
# numpy==2.3.1
# scikit-learn==1.7.1
# joblib==1.5.1
# lightgbm==4.6.0

# # --- Visualization & Report ---
# matplotlib==3.8.4
# plotly==6.2.0
# fpdf==1.7.2

# # --- Gemini + RAG Chatbot ---
# google-generativeai==0.3.2
# sentence-transformers==2.5.1
# faiss-cpu==1.8.0
# requests==2.32.4

# --- Flask Core ---
Flask==3.1.1
Werkzeug==3.1.3
Jinja2==3.1.6
itsdangerous==2.2.0
python-dotenv==1.0.1

# --- ML & Data ---
numpy==1.25.2
pandas==2.2.2
scikit-learn==1.3.2
joblib==1.3.2
lightgbm==4.1.0
matplotlib==3.7.1
plotly==5.15.0
fpdf==1.7.2


# --- Visualization & Report ---
matplotlib==3.7.1
plotly==5.15.0
fpdf==1.7.2

# --- Gemini + RAG Chatbot ---
google-generativeai==0.3.2
sentence-transformers==2.5.1
faiss-cpu==1.11.0.post1
requests==2.31.0



